<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Biblioteca</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item"><a class="nav-link text-dark" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/pessoa/">Pessoa</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/ocupacoes/">Ocupacao</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/instituicao/">Instituicao Ensino</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/areasaber/">Area Saber</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/cursos/">Curso</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/turma/">Turma</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/disciplinas/">Disciplina</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/matriculas/">Matricula</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/avaliacoes/">Avaliacao</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/frequencias/">Frequencia</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/turnos/">Turno</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/cidade/">cidade</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/ocorrencias/">Ocorrencia</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/cursodisciplina/">Curso Disciplina</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/avaliacoestipo/">Avaliacao Tipo</a></li>

        </ul>
    </div>
</nav>

<div class="container mt-5">
<h2>Tabela de areas de saber</h2>

<table class="table">
<thead>
<tr><th>Nome</th></tr>
</thead>
<tbody>
{% for areasaber in areasaberes %}
<tr>
<td>{{ areasaber.nome }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

</body>
</html>
