<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Biblioteca</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link text-dark" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/Pessoa/">Pessoa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/Ocupacao/">Ocupacao</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/InstituicaoEnsino/">Instituicao Ensino</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/AreaSaber/">Area Saber</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/Curso/">Curso</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/Turma/">Turma</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/Disciplina/">Disciplina</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Matricula/">Matricula</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Avaliacao/">Avaliacao</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/Frequencia/">Frequencia</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/Turno/">Turno</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/Cidade/">Cidade</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/Ocorrencia/">Ocorrencia</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/CursoDisciplina/">Curso Disciplina</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/AvaliacaoTipo/">Avaliacao Tipo</a>
            </li>

        </ul>
    </div>
</nav>

<!-- <div class="container mt-5">
<h2>Tabela de curso disciplinas</h2>

<table class="table">
<thead>
    <tr>
        <th>Nome</th>
    </tr>
</thead>
<tbody>
    {% for cursodisciplina in cursodisciplinas %}
    <tr>
        <td>{{ cursodisciplinaa.disciplina }}</td>
        <td>{{ cursodisciplina.curso }}</td>
        <td>{{ cursodisciplina.carga_horaria }}</td>
        <td>{{ cursodisciplina.periodo }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div> -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
