<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Biblioteca</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link text-dark" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/pessoa/">Pessoa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/ocupacoes/">Ocupacao</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/instituicao/">Instituicao Ensino</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/areasaber/">Area Saber</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/cursos/">Curso</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/turma/">Turma</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/disciplinas/">Disciplina</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link text-dark" href="/matriculas/">Matricula</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link text-dark" href="/avaliacoes/">Avaliacao</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/frequencias/">Frequencia</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/turno/">Turno</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/cidade/">Cidade</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/ocorrencias/">Ocorrencia</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/cursodisciplina/">Curso Disciplina</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="/avaliacoestipo/">Avaliacao Tipo</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Olá, é bom te ver por aqui</h1>
        <p class="lead">Esta é a página inicial do sistema academico</p>
        <p class="lead">Seja Bem Vindo(A)</p>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">pessoa</th>
                <th scope="col">ocupacao</th>
                <th scope="col">instituicao Ensino</th>
                <th scope="col">area saber</th>
                <th scope="col">curso</th>
                <th scope="col">turma</th>
                <th scope="col">disciplina</th>
                <th scope="col">matricula</th>
                <th scope="col">avaliacao</th>
                <th scope="col">frequencia</th>
                <th scope="col">turnos</th>
                <th scope="col">cidade</th>
                <th scope="col">ocorrencia</th>
                <th scope="col">curso disciplina</th>
                <th scope="col">avaliacao Tipo</th>
            </tr>
        </thead>
</table>
</div>
<script
src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popp
er.min.js"></script>
    <script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.mi
n.js"></script>

</body>
</html>
