<div class="container mt-5">
<h2>Tabela de Matrículas</h2>

<table class="table">
<thead>
<tr>
<th>Instituição</th>
<th>Curso</th>
<th>Pessoa</th>
<th>Início</th>
<th>Previsão Término</th>
</tr>
</thead>
<tbody>
{% for matricula in matriculas %}
<tr>
<td>{{ matricula.instituicao }}</td>
<td>{{ matricula.curso }}</td>
<td>{{ matricula.pessoa }}</td>
<td>{{ matricula.data_inicio }}</td>
<td>{{ matricula.data_previsao_termino }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
