<div class="container mt-5">
<h2>Tabela de Pessoas</h2>

<table class="table">
<thead>
<tr>
<th>Nome</th>
<th>Pai</th>
<th>Mãe</th>
<th>CPF</th>
<th>Data Nasc.</th>
<th>Email</th>
<th>Cidade</th>
<th>Ocupação</th>
</tr>
</thead>
<tbody>
{% for pessoa in pessoas %}
<tr>
<td>{{ pessoa.nome }}</td>
<td>{{ pessoa.pai }}</td>
<td>{{ pessoa.mae }}</td>
<td>{{ pessoa.cpf }}</td>
<td>{{ pessoa.data_nasc }}</td>
<td>{{ pessoa.email }}</td>
<td>{{ pessoa.cidade }}</td>
<td>{{ pessoa.ocupacao }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
